APP_NAME=RAG_env
app_version=0.1.0_env
DATABASE_URL=sqlite:///./app.db

JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30
JWT_SECRET=replace-with-a-long-random-secret-at-least-32-chars
# JWT 的安全性完全依赖 secret 保密,因为传的payload是base64编码的，就是明文
# 服务器验证签名的时候是 payload+secret 

